/* app css stylesheet */

body {
  margin: 10px;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li.hide {
   display: none;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}


/* Player Wells */
.player {
    font-family: 'Muli', sans-serif;
    font-size: 20px;
    border-top: solid 1px #D6D6D6;
    border-left: solid 1px #D6D6D6;
    border-right: solid 1px #D6D6D6;
    padding: 20px;
}
.playerImg {
    border-radius: 2px;
    width: 150px;
}
.adp {
    font-size: 36px;
    font-weight: 300;
}
.adpContain{
    display: inline-block;
}
.playerName, .playerOvr, .playerPosition {
    padding-top: 4%;
}

.adpContain {
    padding-top: 2.75%;
}
